<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Simple Web App</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' https://client.px-cloud.net; connect-src 'self' https://collector-PXjJ0cYtn9.px-cloud.net; img-src 'self' data:; style-src 'self' 'unsafe-inline';" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Simple Web App</a>
                <div class="navbar-nav">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - Simple Web App
        </div>
    </footer>
    <script src="https://client.px-cloud.net/PXjJ0cYtn9/main.min.js" async></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>